# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.utils/venv
.utils/oferta/
.utils/venv/
.PLANTEL
.PLANTEL/*
backup/
# Testing frameworks
playwright-report/
test-results/
tests/

# Playwright configuration
playwright.config.js

# Python cache and utilities
utils/__pycache__/
utils/check_links.py
utils/requirements.txt
utils/selenium_config.py
utils/analize.py
utils/selenium_utils.py
utils/test_enlaces_selenium.py
utils/vulnerability_report.json

# Python general
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Testing general
coverage/
.nyc_output/
.coverage
*.lcov
