@import "tailwindcss";

/* Importación de fuentes existentes */
@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}
/* --- Configuración de Tailwind CSS v4 --- */
@theme {
  /* Define tu pila de fuentes 'sans' para que use Gotham */
  --font-sans: "Gotham", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Si quieres una clase específica para Averta, también la defines aquí */
  --font-averta: "Averta", sans-serif;

  /* --- Tus nuevos colores UNE --- */
  --color-rojo-une: #E22319;
  --color-azul-une: #001A71;
}

/*