---
import uneBlanco from "../assets/Logos/UNE_blanco.webp";
---

<section
  class="relative bg-cover bg-center bg-no-repeat py-12"
  style="background-image: url('/Images/Fondo-plantel.png');"
>
  <!-- Content -->
  <div class="relative z-10 flex items-center justify-center px-4">
    <div
      class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center"
    >
      <!-- Left side - Logo and Text -->
      <div class="text-center lg:text-left">
        <!-- UNE Logo -->
        <div>
          <img
            src={uneBlanco.src}
            alt="UNE Logo"
            class="w-64 h-auto mx-auto lg:mx-0"
          />
        </div>
      </div>

      <!-- Right side  -->
      <div class="flex flex-col justify-center items-center text-white">
        <p class="text-lg font-light lg:text-xl text-center my-8">
          En UNE, nuestro compromiso es tu futuro, contando con 18 planteles
          para ti y más de 45 carreras en diferentes modalidades, junto con
          convenios de más de 800 empresas
        </p>
        <button
          class="bg-red-600 hover:bg-red-700 text-white font-semibold py-3 px-8 rounded-lg transition-colors duration-300 shadow-lg"
        >
          Hablar con un asesor
        </button>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-section {
    background-image: url("/Images/Fondo-plantel.png");
  }
</style>
