<nav>
  <ul class="bg-rojo-une border border-blue-800 flex">
    <li class="font-sans text-white p-4 hover:bg-blue-800 transition-colors duration-200 cursor-pointer">
      Admisiones
    </li>
    <li class="font-sans text-white p-4 hover:bg-blue-800 transition-colors duration-200 cursor-pointer">
      Oferta académica
    </li>
    <li class="font-sans text-white p-4 hover:bg-blue-700 transition-colors duration-200 cursor-pointer">
      Información escolar
    </li>
    <li class="font-sans text-red-300 p-4 hover:bg-blue-800 transition-colors duration-200 cursor-pointer">
      Vida estudiantil
    </li>
    <li class="font-sans text-white p-4 hover:bg-blue-800 transition-colors duration-200 cursor-pointer">
      Nosotros
    </li>
  </ul>
</nav>

<div class="bg-rojo-une text-white p-4 rounded">
  Este es un fondo rojo con texto blanco.
</div>