---
import Layout from "@/layouts/Layout.astro";


---

<Layout 
  title="Congreso de Ciencias de la Salud UNE 2025 - Medicina Moderna"
  description="Congreso de Ciencias de la Salud UNE 2025. Avances médicos, investigación, tecnología sanitaria y futuro de la medicina."
>
    <style>
  .genially-desktop, .genially-mobile {
    display: none;
  }

  @media (min-width: 768px) {
    .genially-desktop {
      display: block;
    }
  }

  @media (max-width: 767px) {
    .genially-mobile {
      display: block;
    }
  }
</style>


<div class="genially-mobile" style="width: 100%;">
  <div style="position: relative; padding-bottom: 177.78%; height: 0;">
    <iframe title="C_cienciasdelasalud_movil" frameborder="0" width="360" height="640" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genially.com/6854989c9c9b2dde17d1e427" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
  </div>
</div>


<div class="genially-desktop" style="width: 100%;">
  <div style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe title="PRESENTACIÓN 2° Congreso Ciencias de la Salud" frameborder="0" width="1920" height="1080" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genially.com/68475b1a5e95730ebe1bf18b" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
  </div>
</div>
</Layout>