---
import Layout from "@/layouts/Layout.astro";


---

<Layout>
    <style>
  /* Oculta ambos por defecto */
  .genially-desktop, .genially-mobile {
    display: none;
  }

  /* Muestra solo en pantallas mayores a 768px */
  @media (min-width: 768px) {
    .genially-desktop {
      display: block;
    }
  }

  /* Muestra solo en pantallas menores a 768px */
  @media (max-width: 767px) {
    .genially-mobile {
      display: block;
    }
  }
</style>


<div class="genially-mobile" style="width: 100%;">
  <div style="position: relative; padding-bottom: 177.78%; height: 0;">
    <iframe title="Del 19 al 21 de Octubre" frameborder="0" width="360" height="640" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genially.com/6854988093d1dce96acd8da6" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
  </div>
</div>


<div class="genially-desktop" style="width: 100%;">
  <div style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe title="PRESENTACIÓN 2do Congreso Psicología" frameborder="0" width="1920" height="1080" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genially.com/684853a4adccb733c6f01721" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
  </div>
</div>
</Layout>