---
import Layout from "@/layouts/Layout.astro";
---

<Layout
title="Curso de Atención al Cliente - Educación Continua UNE"
description="Curso de atención al cliente en UNE. Desarrolla habilidades de servicio, comunicación efectiva y satisfacción del cliente empresarial.">
  <div
    style="width: 100%; padding: 1rem; display: flex; justify-content: center;"
  >
    <div style="width: 95%; max-width: 1200px;">
      <div
        style="position: relative; padding-bottom: 47.81%; padding-top: 0; height: 0;"
      >
       
            <iframe
              title="Atención al cliente"
              frameborder="0"
              width="1920px"
              height="1080px"
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              src="https://view.genially.com/67e48832823f35bcf8d8c0ad"
              type="text/html"
              allowscriptaccess="always"
              allowfullscreen="true"
              scrolling="yes"
              allownetworking="all"></iframe>
          
      </div>
    </div>
  </div>
</Layout>
