---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div style="width: 100%; padding: 1rem; display: flex; justify-content: center;">
    <div style="width: 95%; max-width: 1200px;">
      <div
        style="position: relative; padding-bottom: 47.81%; padding-top: 0; height: 0;"
      >
        <iframe
          title="Curso Gestión de Calidad 5S Y 9S"
          frameborder="0"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"
          src="https://view.genially.com/67c7182089324bd3f92f0d14"
          allowfullscreen="true"
          scrolling="yes"
          allow="fullscreen">
        </iframe>
      </div>
    </div>
  </div>
</Layout>